.nav-dropdown__icon {
    width: 0.45rem;
    height: 0.45rem;

    border-right: 1.5px solid currentColor;
    border-bottom: 1.5px solid currentColor;

    transform: rotate(45deg);
    transition: transform 180ms ease;
}
